
body{
    background-color: rgb(15,15,50);
    /* background-color: black; */
}


/* HEADER */
.header{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.header--logo{
    height: 35px;
}

.header--text{
    margin-left: 10px;
}

/* HEADER */

/* .character-module{
} */


/* FINDER / FILTERS */

.find-container{
    background: rgb(8, 8, 37);
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1rem;
    /* justify-content: space-around; */
    width: 100%;
    padding: 2rem;
}


/* .find-inside{
    display: flex;
    justify-content: center;
    margin: 1rem;
} */


/* .find-by-name{
    font-size: 1.5vw;
    width: fit-content;
    border-radius: 7px;
    padding: 0 150px 0 15px;
    text-align: left;
    padding: 1rem;
    margin-right: 1rem;
    background-color: black;
    color: white;
} */

/* .character--button{
    font-size: 1.5vw;
    width: fit-content;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 10rem;
} 
.character--button:hover{
    background: black;
    color: rgb(0, 149, 255); 
    border: 1px solid rgb(0, 166, 255);
}*/

/* .input-howMany{
    color: white;
    background-color: black;
    width: 2%;
    font-size: 1.5vw;
    border-radius: 0.5rem;
    text-align: center;
} */

/* .select-category{
    font-size: 2rem;
    border-radius: 0.5rem;
    width: fit-content;
    background-color: black;
    color: white;
} */

.select-category > .marvel{
    color: red;
}

.select-category > .dc{
    color: blue;
}

.marvel{
    color: red;
}

.dc{
    color: blue;
}

.george-lucas{
    color: yellow;
}

.shueisha{
    color: coral;
}

.all{
    color: white;
}

/* FINDER / FILTERS */



/* MAIN SCREEN / LIST OF CHARACTERS */

.main{
    /* display: flex;
    justify-content: center;*/
    cursor: pointer; 
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    justify-content: center;
    margin-top: 2rem;
    
}

.main-inside{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* MAIN SCREEN / LIST OF CHARACTERS */




.main-withInfo{
    display: block;
    width: 100%;
}


.main-withInfo-inside{
    display: flex;
    margin: auto auto;
}






.button-back{
    width: 5rem;
    height: 4rem;
    border-radius: 40%;
    cursor: pointer;
    padding: 0;
}

.button-back:hover{
    border: 1px solid rgb(37, 64, 175);
}

.back-logo{
    margin: 3px 0 0 0;
    height: 100%;
}

.button-back > h1{
    margin: 0;
}

.character{
    background: linear-gradient(rgb(15,15,50), gray);
    height: 95%;
    width: 95%;
    text-align:center;
    border-radius: 1rem;
}

.character--info-module{
    display: flex;
}

.character--withInfo{
    background: linear-gradient(rgb(15,15,50), gray);
    height: fit-content;
    width: 20%;
    text-align:center;
    border-radius: 1rem;
}

.character--img{
    margin-top: 1rem;
    border-radius: 1rem;
    width: 65%;
    height: 75%;
}

.character--name{
    font-size: 3vw;
    color: white;
    text-align: center;
    margin: 0 0 0.5vw 0;
}

.character--name-withInfo{
    font-size: 2vw;
    color: white;
    text-align: center;
    margin: 0 0 0.2rem 0;
}

.character--fullname{
    font-size: 1.5vw;
    margin-top: 0.5vw;
    color: rgb(190, 190, 252);
}

.alignment{
    background-color: black;
    color: white;
    display: flex;
    border-radius: 1rem;
    margin-top: 14px;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: 1rem auto;
    border: 1px solid white;
}

.aligment-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character--alignment{
    font-size: 1.2vw;
}

.character-aligment-icon{
    height: 25%;
}

.info{
    background: linear-gradient(black, rgb(15, 15, 67));
    height: fit-content;
    width: 65%;
    /* margin-top: 220px; */
    border-radius: 1rem /* 0 0 1rem */;
}

.container-stats{
    display: flex;
    width: 95%;
    height: 80%;
    margin: 0 auto;
}

.stats{
    /* background: linear-gradient(black, rgb(15, 15, 67)); */
    width: 50%;
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
}

.publisher{
    font-size: 2vw;
    font-weight: 800;
    color: white;
}

.stats-selectors{
    display: flex;
    justify-content:space-around;
    
}

.stat-selector{
    color: white;
    height: fit-content;
    width: fit-content;
    border: 1px solid white;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
}

.stat-selector:hover{
    color: white;
    border: 5px solid white;
}

.stat-selector-selected{
    height: fit-content;
    width: fit-content;
    border: 1px solid white;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
    color: rgb(54, 184, 240);
    border: 5px solid rgb(54, 184, 240);
}

.stat{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.stat-powerstats{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.stat-appearance{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.stat-logo{
    height: 3vw;
    margin-right: 10px;
}

.character--stat{
    color: white;
    font-size: 1vw;
}

.character--stat-other{
    width: 100%;
    color: white;
    font-size: 80%;
    text-align: center;
    margin: 1rem auto;
}

.character--publisher{
    width: 100%;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


.character-publisher-logo{
    width: 100%;
    max-height: 20rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
}

.character-publisher-logo-DC{
    height: 15rem;
    border-radius: 0.5rem;
}


@media (max-width: 1200px){
    
    
    .main{
        /* display: flex;
        justify-content: center;*/
        /* cursor: pointer; 
        display: grid; */
        grid-template-columns: repeat(2, 40vw);
        /* justify-content: center;
        margin-top: 2rem; */
        
    }


    .main-withInfo-inside{
        display: block;
        margin: auto auto;
        width: 100vw;
    }

    .character--withInfo{
        margin: auto auto;
        width: 80vw;
        /* margin-top: 10rem; */
    }

    .character--name{
        font-size: 1.5vw;
        color: white;
        text-align: center;
        margin: 0 0 0.5vw 0;
    }

    .character--name-withInfo{
        font-size: 10vw;
        color: white;
        text-align: center;
        margin: 0 0 0.5vw 0;
    }

    .character--fullName{
        font-size: 3vw;
    }

    .info{
        /* background: linear-gradient(black, rgb(15, 15, 67));
        border-radius: 1rem; */
        margin: 0 auto;
        height: fit-content;
        padding-bottom: 1rem;
        width: 90vw;
        margin-bottom: 1rem;
    }

    .container-stats{
        display: block;
    }

    .stats{
        width: 70%;
    }

    .alignment{
        /* background-color: black;
        color: white;
        display: flex;
        border-radius: 1rem;
        margin-top: 14px;
        align-items: center;
        width: 50%;
        text-align: center;
        margin: 1rem auto;
        border: 1px solid white; */
    }
    
    .aligment-content{
        /* width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; */
    }
    
    .character--alignment{
        font-size: 100%;
        margin-top: 0;
        margin: 15px;
    }
    
    .character-aligment-icon{
        height: 5vw;
        /* margin: 0 auto; */
    }


    .stat-powerstats{
        /* display: grid;
        grid-template-columns: repeat(2, 45%);
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem; */
    }
    
    .stat-appearance{
        /* display: grid;
        grid-template-columns: repeat(2, 45%);
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem; */
    }
    
    .stat-logo{
        height: 5vw;
        margin-right: 10px;
    }
    
    .character--stat{
        color: white;
        font-size: 2.5vw;
    }
    
}


