body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  background: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  /* background: url('https://64.media.tumblr.com/d6d0246ca0dffa230f03be2521b3210f/tumblr_obfjz6Bd9f1runoqyo2_r1_540.gif'); */
  /* background: url('https://media.tenor.com/TLsSaQMZYNsAAAAd/stars-space.gif'); */
  /* https://media.tenor.com/TLsSaQMZYNsAAAAd/stars-space.gif */
  background-size: 100vh;

  /* VARIABLES */

  --background-general: black;

  --header-background: black;

  --background-find-container: rgb(29, 29, 36);

  --character-box-first: rgb(15,15,50);
  --character-box-second: gray;

  --character--name-color: black;

  --character--withInfo-background: rgba(101, 101, 101, 0);
  --character--withInfo--info-background: rgb(16, 14, 43);

  --character--withInfo--name-color: white;
  --character--withInfo--fullname-color: white;
  --character--withInfo--alignment-color: white;

  --character--withInfo--statSelectors-background: rgb(3, 3, 8);
  --statSelectors-color: rgb(23, 49, 85);
  --statSelectors-selected-color: rgb(33, 87, 248);

  --stat-info-color: white;
}




/* HEADER */
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-background);
  color: white;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.header--logo{
  height: 35px;
}

.header--text{
  margin-left: 10px;
}
/* HEADER */


/* FILTER  */
.find-container{
  width: 100%;
  display: flex;
  justify-content:center;
  height: 5vh;
  padding: 2rem 0;
  background-color: var(--background-find-container);
  border-radius: 0.5rem;
}

.find-by-name{
  font-size: 2vw;
  border-radius: 0.5rem;
}

.character--button{
  font-size: 2vw;
  border-radius: 0.5rem;
}

.input-howMany{
  font-size: 1.5vw;
  border-radius: 0.5rem;
}

.select-category{
  font-size: 1.5vw;
  border-radius: 0.5rem;
}
/* FILTER  */



/* CHARACTERS LIST */
.characters--container{
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  padding-bottom: 5rem;
}

.character{
  background: linear-gradient(var(--character-box-first), var(--character-box-second));
  height: 100%;
  width: 100%;
  text-align:center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.character--img{
  /* height: 70%; */
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
}

.character--name{
  font-size: 2vw;
  color: var(--character--name-color);
}
/* CHARACTERS LIST */






/* BACK BUTTON */
  .button-back{
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .button-back-img{
    height: 100%;
  }
/* BACK BUTTON */


/* CHARACTER WITH HIS/HER INFO */
.character--container{
  width: 100vw;
  height: fit-content;
}

.character--withInfo{
  /* height: 80vh; */ /* EYE WITH THIS */
  width: 80vw;
  background-color: var(--character--withInfo-background);
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.character--withInfo--img{
  width: 20%;
  height: 60%;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.character--withInfo--name{
  font-size: 2vw;
  font-weight: 800;
  color: var(--character--withInfo--name-color);
}

.character--withInfo--fullname{
  font-size: 2vw;
  font-weight: 800;
  color: var(--character--withInfo--fullname-color);
}

.character--withInfo--alignment{
  font-size: 2vw;
  font-weight: 800;
  color: var(--character--withInfo--alignment-color);
}


/* CAROUSEL */
/* .character--withInfo-carousel{
  width: 80vw;
  background-color: var(--character--withInfo-background);
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
} */

/* .carousel{
  display: flex;
  justify-content: center;
  background: rgba(101, 101, 101, 0);
  width: 100%;
  height: auto;
  overflow: hidden;
} */

/* .carousel-img-container{
  height: 80%;
  width: auto;
} */



.react-3d-carousel .slider-container .slider-right div {
  border: 2px solid #0100f2;
  /* border-right: 2px solid #001b7d;
  border-bottom: 2px solid #fdc84b;
  border-left: 2px solid #fdc84b; */
}

.carousel--img{
  height: 40vw;
  width: auto;
  justify-self: center;
  border-radius: 0.5rem;
}

.react-3d-carousel{
  margin-bottom: 20rem;
}

/* CAROUSEL */


/* ACTUAL INFO */
.character--withInfo--info{
  /* height: 80vh; */ /* EYE WITH THIS */
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 0 0 2rem 0;
  border-radius: 0.5rem;

  background-color: var(--character--withInfo--info-background);
}

.character--withInfo--statSelectors{
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--character--withInfo--statSelectors-background);
}

.statSelectors{
  color: var(--statSelectors-color);
  font-size: 3vw;
  cursor: pointer;
} 

.statSelectors:hover{
  color: var(--statSelectors-selected-color);
  font-size: 3vw;
}

.statSelectors-selected{
  color: var(--statSelectors-selected-color);
  font-size: 3vw;
  cursor: pointer;
  border-bottom: 0.3rem solid blue;
}

/* .character--withInfo--infoByStat{

} */

/* .character--withInfo--infoByStat--stat{

} */

.stat{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.stat--logo{
  height: 5vw;
  /* display: none; */
}

.stat--info{
  color: var(--stat-info-color);
  font-size: 2vw;
}

.stat-publisher{
  display: flex;
  justify-content: center;
}

.stat-publisher-logo{
  width: 45vw;
  height: auto;
  border-radius: 0.5rem;
}
/* ACTUAL INFO */
/* CHARACTER WITH HIS/HER INFO */



@media (max-width: 1200px){
  
  /* CHARACTERS LIST RESPONSIVE */
  .characters--container{
    grid-template-columns: repeat(2, 40vw);
  }

  .character--name{
    font-size: 4vw;
  }
  /* CHARACTERS LIST RESPONSIVE*/



  /* FINDER RESPONSIVE*/
  .find-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    gap: 0.5rem;
    margin: 0 auto;
  }
  .find-by-name{
    font-size: 4vw;
  }  
  .character--button{
    font-size: 4vw;
  }
  
  .input-howMany{
    font-size: 4vw;
  }
  
  .select-category{
    font-size: 4vw;
  }
  /* FINDER RESPONSIVE*/


  

  /* BUTTON BACK RESPONSIVE*/
  .button-back{
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  /* BUTTON BACK RESPONSIVE*/

  /* CHARACTER WITH HIS/HER INFO RESPONSIVE*/
  .character--withInfo--img{
    width: 50%;
    height: 60%;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
  .character--withInfo--name{
    font-size: 4vw;
  }
  .character--withInfo--fullname{
    font-size: 4vw;
  }
  .character--withInfo--alignment{
    font-size: 4vw;
  }

  /* CAROUSEL RESPONSIVE */
  .react-3d-carousel{
    margin-bottom: 5vw;
  }
  /* CAROUSEL RESPONSIVE */

  /* ACTUAL INFO */
  .statSelectors{
    font-size: 4vw;
  } 

  .statSelectors:hover{
    font-size: 4vw;
  }

  .statSelectors-selected{
    font-size: 4vw;
  }

  .stat--logo{
    height: 7vw;
  }

  .stat--info{
    font-size: 4vw;
  }

  .stat-publisher-logo{
    width: 65vw;
    height: auto;
  }
  /* ACTUAL INFO */
  /* CHARACTER WITH HIS/HER INFO RESPONSIVE*/
}